/* General Setting Section */
body{
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Heading */

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
  fomt-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "montserrat-Light";
  font-size: 1.2rem;
}

/* Download Button */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* Title Image */

.title-image{
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;
}

/* Features Section */
#features{
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box{
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}


.icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#testimonial-carousel{
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px 15px;
}

/* Pricing Section */

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}
.btn-block{
  width: 100%;
}

/* Call to Action Section */

#footer .container-fluid{
  padding: 7% 15% 1%;
}

.social-logo{
  color: #000;
  margin: 0 0.7rem;
}

/* Media Querry */
@media (max-width: 1008px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    width: 60%;
    transform: rotate(0);

  }
}
